#taskmenu a.ampache:before{
	content:"\f025"}
@media screen and (min-width: 481px){
	#taskmenu .button-ampache.selected.button{
		color:#fff900}}
.listing.iconized tr.ampache>td.section:before{
	content: "\f025"}
/* @media screen and (max-width: 1024px){
	#taskmenu .button-ampache{
		display: none}} */
/* @media screen and (min-width: 481px){
	.content .header.ampache{
		display: none!important}} */