.toolbar a.button.macro:before{
  content: "\f0d0"}
.toolbar a.button.save:before{
  content: "\f0c7"}

.message:hover #flagicnrcmrowOTE:before{
  content: "\f005"}

.messagelist .message.unread td.subject span.msgicon.status:before{
  color: #ffd452}
.messagelist td.subject span.msgicon.submit.status:before{
  color: #ff5252}

.folderlist li.mailbox.selected .unreadcount{
  background: #FF9A37}

.content .iframe-wrapper img{
  width: 300px;
  height: 300px;
  position: relative;
  top: calc(50% - 150px);
  left: calc(50% - 150px)}

#radio .quota-widget{
  padding: .6rem 1rem}

#radio .quota-widget:before{
  content: "\f28b"}

#radio .quota-widget.pause:before{
  content: "\f144"}

#radio .quota-widget.pause .value{
  background-color: #FF9A37}
#radio .quota-widget .value.buffered{
  background-color: #97dafb}
#radio .quota-widget .value.seek{
  margin-top: -15px}

#folderlist-content #countdown{
  position:absolute;
  bottom:0;
  right:0}

#amFLSongs>a:before{
  font-weight: 600;
  content: "\f001"}
#amFLAlbums>a:before{
  content: "\f192"}
#amFLArtists>a:before{
  content: "\f007"}
#amFLPlaylists>a:before{
  font-weight: 600;
  content: "\f15c"}
#amFLFavourites>a:before{
  font-weight: 600;
  content: "\f005"}
#amFLTags>a:before{
  font-weight: 600;
  content: "\f02b"}
#amFLLast>a:before{
  content: "\f017"}
#amFLRecent>a:before{
  font-weight: 600;
  content: "\f01e"}